<h1 class="text-center mt-4">Create new category</h1>

<div class="container">

  <div class="row justify-content-center">
    <div class="col-10">
      <%= render 'form'%>
    </div>
  </div>
  <div class="mb-3 d-flex justify-content-center">
    <%= link_to '[ Cancel and return to categories list ]', categories_path%> 
  </div>
</div>